$boxShadow :rgba(149, 157, 165, 0.2) 0px 8px 24px
$orange : #FC6E1E
$red : #fa3a3a
$gray : #9B958E
$black : #3a3a3a

.sepetContent
    position: fixed
    margin-top: 3rem
    .sepet
        width: 100%
        .sepetCard
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            box-shadow: $boxShadow
            margin-top: 1rem
            padding: 0rem .5rem
            .sepetCardContent
                text-align: end
                .sepetPrice,.delete
                    display: inline-block
                    margin: 0 !important
                    padding: 0 !important
                .delete
                    background: transparent
                    border: none
                    color: $gray
                .sepetPrice
                    color: $orange
.shopCard
    position: relative
    border: 1px solid rgba(0,0,0,.1)
    padding: 1rem
    border-radius: .5rem
    transition: .38s
    .cardImgParent
        width: 100% 
        img
            width: 100%
            text-align: center
    .sepeteEkle
        background: transparent
        border: none
        position: absolute
        right: 15px
        bottom: 15px
        border-radius: 10px
        background: transparentize($orange,.9)
        transition: .38s
        color: $orange

        .bi-plus
            font-size: 1.8rem
        &:hover
            background: transparentize($orange,0)
            color: white !important

    .urunIncele
        cursor: pointer
        color: $black
        text-decoration: none
        .cardPrice
            color:$orange
        &:hover .cardTitle
            color: $orange
        .oldPrice
            font-size: 1rem
            color: $gray
            text-decoration: line-through
                
    .rating-stars
        .bi-star-fill
            color: #FFD27D
        .bi-star
            color: #FFD27D
        .ratingHtml
            color:  $gray
    &:hover
        border-color: $orange
        box-shadow: $boxShadow
    
    .ticket
        position: absolute
        top: 0
        left: 0
        padding: .3rem 1rem
        border-radius: .5rem 0 .5rem 0
        color: white
        background: $red
.category
    .categoryContent
        .categoryBtn,.allProducts
            color: $black
            border: none
            background: transparent
            border: 1px solid $orange
            padding: 1rem
            border-radius: 3px
            margin-left:1rem
            &:first-child
                margin-left: 0 !important
        .activeCategory
            background: $orange
            color: white