img {
  max-width: 100%;
}

.loadingDivParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sepetPrice {
  display: inline-block;
  margin-right: 0.5rem;
}

.shopCard {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.38s;
}
.shopCard .cardImgParent {
  width: 100%;
}
.shopCard .cardImgParent img {
  width: 100%;
  text-align: center;
}
.shopCard .sepeteEkle {
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 10px;
  background: rgba(252, 110, 30, 0.1);
  transition: 0.38s;
  color: #FC6E1E;
}
.shopCard .sepeteEkle .bi-plus {
  font-size: 1.8rem;
}
.shopCard .sepeteEkle:hover {
  background: #fc6e1e;
  color: white !important;
}
.shopCard .urunIncele {
  cursor: pointer;
  color: #3a3a3a;
  text-decoration: none;
}
.shopCard .urunIncele .cardPrice {
  color: #FC6E1E;
}
.shopCard .urunIncele:hover .cardTitle {
  color: #FC6E1E;
}
.shopCard .urunIncele .oldPrice {
  font-size: 1rem;
  color: #9B958E;
  text-decoration: line-through;
}
.shopCard .rating-stars .bi-star-fill, .shopCard .rating-stars .bi-star {
  color: #FFD27D;
}
.shopCard .rating-stars .ratingHtml {
  color: #9B958E;
}
.shopCard:hover {
  border-color: #FC6E1E;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shopCard .ticket {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  color: white;
  background: #fa3a3a;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .shopCard .urunIncele .cardPrice {
    font-size: 1rem;
  }
}

.category .categoryContent {
  display: flex;
  justify-content: space-between;
}
.category .categoryContent button {
  width: 19%;
}
.category .categoryContent .categoryBtn, .category .categoryContent .allProducts {
  color: #3a3a3a;
  border: none;
  background: transparent;
  border: 1px solid #FC6E1E;
  padding: 1rem;
  border-radius: 3px;
  margin-left: 1rem;
}
.category .categoryContent .categoryBtn:first-child, .category .categoryContent .allProducts:first-child {
  margin-left: 0 !important;
}
.category .categoryContent .activeCategory {
  background: #FC6E1E;
  color: white;
}
@media screen and (max-width: 600px) {
  .category .categoryContent {
    display: block;
  }
  .category .categoryContent .categoryBtn {
    margin-left: 0 !important;
  }
  .category .categoryContent .categoryBtn, .category .categoryContent .allProducts {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.slick-track {
  width: none !important;
}

@media screen and (max-width: 991px) {
  .sepetCol {
    display: none;
  }
}

.productDetailContent .detailContent .rating-stars {
  margin-bottom: 1rem;
}
.productDetailContent .detailContent .rating-stars .bi-star-fill, .productDetailContent .detailContent .rating-stars .bi-star {
  color: #FFD27D;
}
.productDetailContent .detailContent .oldPrice {
  font-size: 1rem;
  text-decoration: line-through;
  color: #9B958E;
}
.productDetailContent .detailContent .ticked {
  background: #fa3a3a;
  color: white;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}
.productDetailContent .detailContent .detailContentBottom {
  display: flex;
}
.productDetailContent .detailContent .detailContentBottom .addToCard {
  background: #FC6E1E;
  border: none;
  color: white;
  padding: 0.6rem 1.3rem;
}
.productDetailContent .detailContent .detailContentBottom .addToCard i {
  padding-left: 0.3rem;
}
@media screen and (max-width: 768px) {
  .productDetailContent .detailContent .detailContentBottom .addToCard {
    width: 100%;
  }
}
.productDetailContent .detailContent .detailContentBottom .bi-heart, .productDetailContent .detailContent .detailContentBottom .bi-heart-fill {
  font-size: 1.8rem;
  margin-left: 1rem;
  color: #FC6E1E;
  cursor: pointer;
}

.notificationBox {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  padding: 1rem;
  background: #0fb942;
  color: white;
}
.notificationBox .notificationBoxParent {
  display: flex;
  justify-content: space-between;
}
.notificationBox .notificationBoxParent .notificationBoxText {
  display: inline-block;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .notificationBox {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 60px;
  }
}

.header {
  width: 100%;
  padding-bottom: 1rem;
  background: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
}
.header nav .navbar-brand {
  color: white;
}
.header nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 400;
}
.header .sliderContent {
  padding: 5rem 0;
}
.header .sliderContent .sliderParent {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 1rem;
}
.header .sliderContent .sliderParent .sliderDiv {
  display: flex;
}
.header .sliderContent .sliderParent .sliderDiv .slideContent {
  display: flex;
  align-items: center;
  color: black;
  padding-right: 3rem;
}
.header .sliderContent .sliderParent .sliderDiv .slideContent a {
  color: #FC6E1E;
  text-decoration: none;
}
.header .sliderContent .sliderParent .sliderDiv .slideImg {
  position: relative;
}
.header .sliderContent .sliderParent .sliderDiv .slideImg img {
  max-width: 95%;
  border-radius: 1rem 0 0 1rem;
}
@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 0 !important;
  }
  .header .sliderContent {
    padding: 1rem 0;
  }
  .header .sliderContent .slideContentFlex {
    padding: 1rem 0rem;
  }
  .header .sliderContent .sliderParent {
    background: transparent;
    box-shadow: none;
  }
  .header .sliderContent .sliderParent .sliderDiv {
    display: block;
  }
  .header .sliderContent .sliderParent .sliderDiv .slideContent {
    color: white;
  }
  .header .sliderContent .sliderParent .sliderDiv .slideContent a {
    color: white;
  }
  .header .sliderContent .sliderParent .slideImg img {
    max-width: 100% !important;
    border-radius: 0 !important;
  }
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.navbar-toggler-icon {
  background-image: url("../../public/img/menu.png");
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.slick-dots {
  position: absolute;
  top: 0;
  right: 0;
}
.slick-dots li {
  position: absolute;
  right: 0;
  top: 30%;
}
.slick-dots li:nth-child(1) {
  margin-top: 1.5rem;
}
.slick-dots li:nth-child(2) {
  margin-top: 3rem;
}
.slick-dots li:nth-child(3) {
  margin-top: 4.5rem;
}
.slick-dots li:nth-child(4) {
  margin-top: 6rem;
}
.slick-dots li:nth-child(5) {
  margin-top: 7.5rem;
}
.slick-dots li:nth-child(6) {
  margin-top: 9rem;
}
.slick-dots li:nth-child(7) {
  margin-top: 10.5rem;
}
.slick-dots li:nth-child(8) {
  margin-top: 12rem;
}
.slick-dots li:nth-child(9) {
  margin-top: 13.5rem;
}
.slick-dots li:nth-child(10) {
  margin-top: 15rem;
}
.slick-dots li:nth-child(11) {
  margin-top: 16.5rem;
}
.slick-dots li:nth-child(12) {
  margin-top: 18rem;
}
.slick-dots li:nth-child(13) {
  margin-top: 19.5rem;
}
.slick-dots li:nth-child(14) {
  margin-top: 21rem;
}
.slick-dots li:nth-child(15) {
  margin-top: 22.5rem;
}
.slick-dots li:nth-child(16) {
  margin-top: 24rem;
}
.slick-dots li:nth-child(17) {
  margin-top: 25.5rem;
}
.slick-dots li:nth-child(18) {
  margin-top: 27rem;
}
.slick-dots li:nth-child(19) {
  margin-top: 28.5rem;
}
.slick-dots li:nth-child(20) {
  margin-top: 30rem;
}
.slick-dots li:nth-child(21) {
  margin-top: 31.5rem;
}
.slick-dots li:nth-child(22) {
  margin-top: 33rem;
}
.slick-dots li:nth-child(23) {
  margin-top: 34.5rem;
}
.slick-dots li:nth-child(24) {
  margin-top: 36rem;
}
.slick-dots li:nth-child(25) {
  margin-top: 37.5rem;
}
.slick-dots li:nth-child(26) {
  margin-top: 39rem;
}
.slick-dots li:nth-child(27) {
  margin-top: 40.5rem;
}
.slick-dots li:nth-child(28) {
  margin-top: 42rem;
}
.slick-dots li:nth-child(29) {
  margin-top: 43.5rem;
}
.slick-dots li:nth-child(30) {
  margin-top: 45rem;
}
.slick-dots li:nth-child(31) {
  margin-top: 46.5rem;
}
.slick-dots li:nth-child(32) {
  margin-top: 48rem;
}
.slick-dots li:nth-child(33) {
  margin-top: 49.5rem;
}
.slick-dots li:nth-child(34) {
  margin-top: 51rem;
}
.slick-dots li:nth-child(35) {
  margin-top: 52.5rem;
}
.slick-dots li:nth-child(36) {
  margin-top: 54rem;
}
.slick-dots li:nth-child(37) {
  margin-top: 55.5rem;
}
.slick-dots li:nth-child(38) {
  margin-top: 57rem;
}
.slick-dots li:nth-child(39) {
  margin-top: 58.5rem;
}
.slick-dots li:nth-child(40) {
  margin-top: 60rem;
}
.slick-dots li:nth-child(41) {
  margin-top: 61.5rem;
}
.slick-dots li:nth-child(42) {
  margin-top: 63rem;
}
.slick-dots li:nth-child(43) {
  margin-top: 64.5rem;
}
.slick-dots li:nth-child(44) {
  margin-top: 66rem;
}
.slick-dots li:nth-child(45) {
  margin-top: 67.5rem;
}
.slick-dots li:nth-child(46) {
  margin-top: 69rem;
}
.slick-dots li:nth-child(47) {
  margin-top: 70.5rem;
}
.slick-dots li:nth-child(48) {
  margin-top: 72rem;
}
.slick-dots li:nth-child(49) {
  margin-top: 73.5rem;
}
.slick-dots li:nth-child(50) {
  margin-top: 75rem;
}
.slick-dots li:nth-child(51) {
  margin-top: 76.5rem;
}
.slick-dots li:nth-child(52) {
  margin-top: 78rem;
}
.slick-dots li:nth-child(53) {
  margin-top: 79.5rem;
}
.slick-dots li:nth-child(54) {
  margin-top: 81rem;
}
.slick-dots li:nth-child(55) {
  margin-top: 82.5rem;
}
.slick-dots li:nth-child(56) {
  margin-top: 84rem;
}
.slick-dots li:nth-child(57) {
  margin-top: 85.5rem;
}
.slick-dots li:nth-child(58) {
  margin-top: 87rem;
}
.slick-dots li:nth-child(59) {
  margin-top: 88.5rem;
}
.slick-dots li:nth-child(60) {
  margin-top: 90rem;
}
.slick-dots li:nth-child(61) {
  margin-top: 91.5rem;
}
.slick-dots li:nth-child(62) {
  margin-top: 93rem;
}
.slick-dots li:nth-child(63) {
  margin-top: 94.5rem;
}
.slick-dots li:nth-child(64) {
  margin-top: 96rem;
}
.slick-dots li:nth-child(65) {
  margin-top: 97.5rem;
}
.slick-dots li:nth-child(66) {
  margin-top: 99rem;
}
.slick-dots li:nth-child(67) {
  margin-top: 100.5rem;
}
.slick-dots li:nth-child(68) {
  margin-top: 102rem;
}
.slick-dots li:nth-child(69) {
  margin-top: 103.5rem;
}
.slick-dots li:nth-child(70) {
  margin-top: 105rem;
}
.slick-dots li:nth-child(71) {
  margin-top: 106.5rem;
}
.slick-dots li:nth-child(72) {
  margin-top: 108rem;
}
.slick-dots li:nth-child(73) {
  margin-top: 109.5rem;
}
.slick-dots li:nth-child(74) {
  margin-top: 111rem;
}
.slick-dots li:nth-child(75) {
  margin-top: 112.5rem;
}
.slick-dots li:nth-child(76) {
  margin-top: 114rem;
}
.slick-dots li:nth-child(77) {
  margin-top: 115.5rem;
}
.slick-dots li:nth-child(78) {
  margin-top: 117rem;
}
.slick-dots li:nth-child(79) {
  margin-top: 118.5rem;
}
.slick-dots li:nth-child(80) {
  margin-top: 120rem;
}
.slick-dots li:nth-child(81) {
  margin-top: 121.5rem;
}
.slick-dots li:nth-child(82) {
  margin-top: 123rem;
}
.slick-dots li:nth-child(83) {
  margin-top: 124.5rem;
}
.slick-dots li:nth-child(84) {
  margin-top: 126rem;
}
.slick-dots li:nth-child(85) {
  margin-top: 127.5rem;
}
.slick-dots li:nth-child(86) {
  margin-top: 129rem;
}
.slick-dots li:nth-child(87) {
  margin-top: 130.5rem;
}
.slick-dots li:nth-child(88) {
  margin-top: 132rem;
}
.slick-dots li:nth-child(89) {
  margin-top: 133.5rem;
}
.slick-dots li:nth-child(90) {
  margin-top: 135rem;
}
.slick-dots li:nth-child(91) {
  margin-top: 136.5rem;
}
.slick-dots li:nth-child(92) {
  margin-top: 138rem;
}
.slick-dots li:nth-child(93) {
  margin-top: 139.5rem;
}
.slick-dots li:nth-child(94) {
  margin-top: 141rem;
}
.slick-dots li:nth-child(95) {
  margin-top: 142.5rem;
}
.slick-dots li:nth-child(96) {
  margin-top: 144rem;
}
.slick-dots li:nth-child(97) {
  margin-top: 145.5rem;
}
.slick-dots li:nth-child(98) {
  margin-top: 147rem;
}
.slick-dots li:nth-child(99) {
  margin-top: 148.5rem;
}
.slick-dots li:nth-child(100) {
  margin-top: 150rem;
}
.slick-dots li button::before {
  font-size: 1rem;
  border-radius: 0;
  color: #FC6E1E;
}
@media screen and (max-width: 500px) {
  .slick-dots {
    display: none !important;
  }
}

.slick-dots li.slick-active button:before {
  color: #FC6E1E;
}

.modalBtn .badge {
  top: 15% !important;
}

.modal-footer {
  justify-content: space-between;
}
.modal-footer .sepetToplam {
  color: #FC6E1E;
}
.modal-footer button {
  background: #fa3a3a;
  border: none;
}
.modal-footer button:hover {
  background: #fa3a3a;
}/*# sourceMappingURL=style.css.map */